<form class="form-inline">
  <label target="provider-select">Source:</label>

  <%# form-control class for bootstrap3, custom-select class for bootstrap4 %>
  <select class="form-control custom-select" id="provider-select">
    <% @providers.each do |provider| %>
      <option value="<%= provider.key %>">
        <%= provider.name %>
      </option>
    <% end %>
  </select>

  <div class="col-lg-6">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span>
  </div>
</form>
