
<div class="file">
  <input type="checkbox" />
  <label class="label">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <div class="text"><%= node.basename %></div>
  </label>
</div><!--/.file -->
