
<div class="node file">
  <input type="checkbox" id="<%= node.uri %>" name="upload[<%= node.uri %>]" />
  <label class="label">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <div class="base-name"><%= node.basename %></div>
  </label>
</div><!--/.file -->
