
<div class="file">
  <input type="checkbox" id="file_1" />
  <label class="label" for="file_1">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <div class="text"><%= node.basename %></div>
  </label>
</div><!--/.file -->
