
<% if flash.key?(:notice) %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash.key?(:alert) %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="container-fluid">
  <h2>Storage Providers</h2>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select a Provider <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Hosted Providers</li>
          <li><a href="providers/aws">Amazon Web Services</a></li>
          <li><a href="providers/google-drive">Google Drive</a></li>
          <li class="dropdown-header">Local Providers</li>
          <li><a href="<%= provider_browse_path(id: 'file_system') %>">File System</a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
